## pandas小结

小结
- （1）Series是一维带“标签”数组
        index_0 -> data_a
- （2）Series基本操作类似ndarray和字典 根据索引对齐

In [1]:
import pandas as pd
import numpy as np

Pandas的数据类型
- Series索引+一维数据
- DataFrame行、列索引+二维数据
- 索引 数据

### 1.Series

In [2]:
d = pd.Series(range(5))
d

0    0
1    1
2    2
3    3
4    4
dtype: int64

- 索引：自动索引、自定义索引
- 自动索引index从0开始,自动索引index = ...可以省略

In [3]:
%config ZMQInteractiveShell.ast_node_interactivity='all'

In [4]:
#自动索引 可以省略 index=[]
a = pd.Series([9, 8, 7, 6],index=['0','1','2','3'])
a

#自定义索引 
b = pd.Series([9,8,7,6],index=['a','b','c','d'])
b

0    9
1    8
2    7
3    6
dtype: int64

a    9
b    8
c    7
d    6
dtype: int64

创建Series的方式
- 从标量值创建 index表达series类型的尺寸
- 从字典创建
- 从ndarray类型创建

In [8]:
# 从标量值创建 index表达series类型的尺寸
s = pd.Series([1,3,5],index=['a','b','c'])
s

s1 = pd.Series(6,index=['a','b','c'])
s1

#错误：s1 = pd.Series([1,2],index=['a','b','c'])?

#从字典创建
d = pd.Series({'a':1,'b':2,'c':3})
d
#index从字典中进行选择
e = pd.Series({'a':1, 'b':2, 'c':3}, index={'c', 'a', 'b', 'd'})
e

#从ndarray类型创建
n = pd.Series(np.arange(5))
n
#从ndarray类型创建 同时给出索引
#同时给出索引
m = pd.Series(np.arange(5), index = np.arange(9, 4, -1))
m

a    1
b    3
c    5
dtype: int64

a    6
b    6
c    6
dtype: int64

a    1
b    2
c    3
dtype: int64

c    3.0
b    2.0
a    1.0
d    NaN
dtype: float64

0    0
1    1
2    2
3    3
4    4
dtype: int32

### 2.Series基本操作

In [30]:
import numpy as np
n = pd.Series(np.arange(5))
n

0    0
1    1
2    2
3    3
4    4
dtype: int32

Series类型的操作类似ndarray类型
 - 索引方法相同，采用[]
 - Numpy中运算和操作可用于Series类型
 - 可以通过自定义索引的列表进行切片
 - 可以通过自动索引进行切片，如果存在自定义索引 则一同被切片

Series 索引 + 值
- Series类型的操作类型Python字典类型
- 通过自定义索引访问
- 保留字in操作
- 使用.get()方法
- 保留字in只会判断自定义索引

In [14]:
#获取索引值和数值
b = pd.Series([9, 8, 7, 6], index = ['a', 'b', 'c', 'd'])
b.index,b.values

#自动索引和自定义索引并存
b['a'],b[1]

b[['c','d','a']]

(Index(['a', 'b', 'c', 'd'], dtype='object'), array([9, 8, 7, 6], dtype=int64))

(9, 8)

c    7
d    6
a    9
dtype: int64

In [18]:
b[3] #索引一个元素 对应的是值

b[:3] #切出来仍然是Series

b[b > b.median()]

6

a    9
b    8
c    7
dtype: int64

a    9
b    8
dtype: int64

In [23]:
b['a']

np.exp(b)

'c' in b,0 in b

b.get('f',100)#提取标签f对应的值 如果没有 赋值100

9

a    8103.083928
b    2980.957987
c    1096.633158
d     403.428793
dtype: float64

(True, False)

100

Series类型 + Series类型
- Series类型在运算中会自动对齐不同索引的数据
--------------------------------
Series类型的name属性
- Series对象和索引都可以有一个名字 存储在属性.name中

In [28]:
a = pd.Series([1, 2, 3], ['c', 'd', 'e'])
b = pd.Series([9, 8, 7, 6], ['a', 'b', 'c', 'd'])
a + b

b.name = 'Series对象'
b.index.name = '索引列'
b

a    NaN
b    NaN
c    8.0
d    8.0
e    NaN
dtype: float64

索引列
a    9
b    8
c    7
d    6
Name: Series对象, dtype: int64

Series对象可以随时修改并即刻生效

In [30]:
b['a'] = 15
b.name = 'Series'
b

索引列
a    15
b     8
c     7
d     6
Name: Series, dtype: int64

In [31]:
b['b', 'c'] = 20
b

索引列
a    15
b    20
c    20
d     6
Name: Series, dtype: int64

In [ ]:
DataFrame类型
    由共用相同索引的一组列组成 表格 索引+多列数据
    纵向 index
    横向 column
    axis = 0
    axis = 1
    
    DataFrame是一个表格型的数据类型 每列值类型可以不同
    DataFrame既有行索引 也有列索引
    DataFrame常用于表达二维数据 但可以表达多维数据

In [ ]:
创建：
- 二维ndarray对象
- 由一维ndarray、列表、字典、元组或Series构成的字典
- Series类型
- 其他的DataFrame类型

In [ ]:
【1】从二维ndarray创建

In [67]:
import numpy as np
import pandas as pd
d = pd.DataFrame(np.arange(10).reshape(2, 5))
d

   0  1  2  3  4
0  0  1  2  3  4
1  5  6  7  8  9

In [ ]:
自动行索引 自动列索引

In [ ]:
【2】从一维ndarray对象字典创建

In [74]:
dt = {
    'one':pd.Series([1, 2, 3], index = ['a', 'b', 'c']),
    'two':pd.Series([9, 8, 7, 6], index = ['a', 'b', 'c', 'd'])}
d = pd.DataFrame(dt)
d

   one  two
a  1.0    9
b  2.0    8
c  3.0    7
d  NaN    6

In [76]:
pd.DataFrame(dt, index=['b', 'c', 'd'], columns = ['two', 'three'])

   two three
b    8   NaN
c    7   NaN
d    6   NaN

In [ ]:
【3】从列表类型的字典中创建

In [77]:
d1 = {'one':[1, 2, 3 ,4], 'two':[9, 8, 7, 6]}
d = pd.DataFrame(d1, index = ['a', 'b', 'c', 'd'])
d

   one  two
a    1    9
b    2    8
c    3    7
d    4    6

In [ ]:
DataFrame类型
    DataFrame是二维带“标签”数组

### pandas库的使用

In [ ]:
如何改变Series和DataFrame对象？
    增加或重排：重新索引
    删除：drop

In [ ]:
重新索引
.reindex()能够改变或重排Series和DataFrame索引

In [ ]:
d = d.reindex(index = 'c5', 'c4', 'c3')

d = d.reindex(columns = 'd', 'd')

其他参数

In [ ]:
d.colums.insert(4,'新增')

In [ ]:
索引类型的常用方法
桌面 图

### pandas库的数据类型运算

In [ ]:
+
*
自动补齐 缺项补NaN

In [ ]:
数据类型的算术运算方法
广播
不同维度为广播运算

比较运算
    比较运算只能比较相同索引的元素 不进行补齐
    二维和一维 一维和零维间为广播运算
    采用> < = >= <= == !=等符号进行的二元运算产生布尔对象
同维度运算 尺寸一致
不同维度 广播运算 默认在1轴